main {
  padding: 100px 0;
  background: $primaryGrey;
  min-height: calc(100vh - 70px);
  .disks {
    display: flex;
    flex-wrap: wrap;
    .disk {
      width: calc(100% / 3);
      text-align: center;
      color: #fff;
      ul {
        width: 80%;
        height: 95%;
        padding: 20px;
        margin-bottom: 20px;
        background: $primaryBlack;
        li {
          h3 {
            margin-top: 5px;
            margin-bottom: 10px;
          }
          img {
            width: 100%;
            margin: auto;
          }
        }
        .author {
          color: $secondaryGrey;
        }
      }
    }
  }
}
