* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 65%;
  margin: auto;
}
li {
  list-style: none;
}

header {
  height: 70px;
  line-height: 70px;
  background: #000000;
  img {
    height: 60px;
    vertical-align: middle;
  }
}

main {
  padding-top: 100px;
  background: #191919;
  .disks {
    display: flex;
    flex-wrap: wrap;
    .disk {
      width: calc(100% / 3);
      text-align: center;
      color: #fff;
      ul {
        width: 215px;
        height: 290px;
        padding: 15px;
        margin-bottom: 20px;
        background: #000000;
        li {
          img {
            width: 170px;
          }
        }
      }
    }
  }
}
